<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Lobby</title>
  </head>
  <body>
    <h1>Hello this is a simple Lobby</h1>
    <div id="room-container">
      <% Object.keys(rooms).forEach(room => { %>
      <div class="individualRoom">
        <div><%= room %></div>
        <a href="/<%= room %>">Join</a>
        <% }) %>
        <form action="/room" method="post">
          <input type="text" name="name" id="" required />
          <button type="submit">New Room</button>
        </form>
      </div>
    </div>
    <!-- <div id="create-room">
      <form action="/room"></form>
      <button type="submit">Create Room</button>
    </div> -->

    <!-- <script src="frontend.js"></script> -->
  </body>
</html>
